body{
    background-color: pink;
}

div#flex-gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#flex-gallery > figure{
    background-color: white;
    padding: 20px;
    margin: 15px;
}

figure{
    width:202px;
}

figure > img{
    width: 200px;
}

figure > img{
    border: solid black 1px;
}

