body{
    background-color: lightblue;
}

header, main, footer{
    width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    font-size: 35px;
}

/* HEADER STYLES START */

header{
    padding-right: 0;
    width: 950px;
}

header, main{
    border-bottom: lightblue 5px solid;
}

header h1{
    font-family: "Zapfino";
    font-size: 48px;
    text-align: center;
    color: red;
    line-height: 80px;
}

#custom-height{
    line-height: 72px;
}

#logo{
    float: left;
}

#title-container{
    margin-left: 200px;
}

nav ul{
    text-align:right;
}

nav ul li{
    display: inline-block;
    background-color: lightcoral;
    color: darkslateblue;
    padding: 10px;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: "Arial";
}

nav ul li:hover{
    background-color: white;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a:link, nav ul li a:visited{
    color: white;
}

nav ul li a:hover{
    color: white;
    background-color: lightpink;
}

nav ul li a:active{
    background-color: lightblue;
}

/* HEADER STYLES END */

/* FOOTER STYLES START */

footer {
    color: red;
    font-family: "Arial";
    line-height: 48px;
}

#copyright{
    text-align: center;
    font-size: 9px;
    text-transform: uppercase;
}

#social-links ul{
    text-align: center;
    margin-bottom: 20px;
}

#social-links  ul li{
    display: inline-block;
    border: solid 1px red;
    border-radius: 10px;
    padding: 0;
    text-decoration: none;
    line-height: 150%; 
    box-sizing: border-box;
}

#social-links  ul li:hover{
    color: white;
    background-color: red;
}

#social-links ul li a{
    display: block;
    text-decoration: none;
    color: red;
    /* line-height: 150%;  */
}

#social-licks ul li a:visited{
    color: red;
}

#social-links ul li a:hover{
    text-decoration: none;
    color: white;
}

/* FOOTER STYLES END */

/* MAIN DEFAULT STYLES START */

main{
    font-family: "Arial";
    color: red;
}

main h1{
    font-family: "Zapfino";
    font-size: 36px;
    text-align: center;
    line-height: 80px;
    margin-top: 30px;
    /* text-transform: uppercase; */
}

main p{
    font-size: 24px;
}

/* MAIN DEFAULT STYLES END */

/* HOMEPAGE STYLE START */

    main#homepage p{
        margin: 20px;
        line-height: 30px;
        text-align: justify;

    }

/* HOMEPAGE STYLE END */

/* GALLERY STYLE START */

#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

#gallery div{
    width: 200px;
}

#gallery div img{
    width: 200px;
    margin-bottom: 20px;
}

/* GALLERY STYLE END */

/* CONTACT STYLE START */

#contact hr{
    border: solid 1px red;
}

#contact-flexbox{
    display: flex;
    /* height: 300px; */
}

#contact-flexbox div:first-child{
    flex-grow: 3;
    background-color: grey;
}

#contact-flexbox div:last-child{
    flex-grow: 1;
}

#contact-form{

    width: 400px;
    margin: 20px
}

#contact-form label{
    font-size: 24px;
}

#contact-form input{
    border: dashed 1px red;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    place-content: center;
    box-sizing: border-box;
    font-size:  18px;
    padding-left: 15px;
}

#contact-form .form-buttons{
    margin: 20px;
    color: red;
    font-size: 22px;
    width: 360px;
}

#contact-form .form-buttons:hover{
    border: solid red 1px;
    cursor: pointer;
}

#contact-form textarea{
    border: dashed 1px red;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 11px;
    font-size: 22px;
}

/* CONTACT STYLE END */